# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.InteractiveWall.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\To GIT\InteractiveWall\.idea\.idea.InteractiveWall.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
